{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}

<div class = "login">
    <div class = "container text-center">
        <div class = "row">
            <h1 class="login-head">INI BUKAN TOKO BANGUNAN!!!</h1>
            <h2 class="login-msg">Silahkan Login.</h2>
        </div>
        <div class = "row justify-content-center align-items-center">
            <form method="POST" action="">
                {% csrf_token %}
                <style>
                    table {
                        width: 100%;
                        border-collapse: collapse;
                        vertical-align: middle;
                    }
                    
                    th, td {
                        text-align: center;
                        vertical-align: middle;
                        padding: 10px; 
                    }
                </style>
                <table>
                    <tr>
                        <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                    </tr>
                            
                    <tr>
                        <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                    </tr>

                    <tr></tr>
                        <td><input class="btn btn-primary login_btn" type="submit" value="Login" style = "background-color: #252525; border:transparent"></td>
                    </tr>
                </table>
            </form> 
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}     
                Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>
        </div>
    </div>
</div>

{% endblock content %}